# Admin account
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Database
DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=27017
DB_NAME=tunnel
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tunnel_dev?schema=public"

# Auth & JWT
APP_CRYPTO_SALT=some-secret